<section class="blog-font">
  
  <!--Intro Card-->
  <div class="row">
    <div class="col s12 m8 offset-m2">
      <div class="card orange">
        <div class="card-content white-text center">
          <div class="card-title">
            Welcome!
          </div>
          <p>
            Here you can find all the blog articles starting from the most recent.
          </p>
          <br/>
          <div class="center">
            <p>Feel free to check out my</p>
            <%= link_to "rails projects", rails_path, 
                    class: "waves-effect waves-light btn light-blue" %>
            <p>Otherwise, enjoy the blog posts!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!--Cards-->
  <div class="row">
    <div class="col s12 m4 offset-m4">
      <!--Blog Link-->
      <a href="/blogs/arrays-hashes.html.erb">
        <div class="card orange">
          <!--Image-->
          <div class="card-image waves-effect waves-block waves-light">
            <%= image_tag("colorado.png") %>
          </div>
          <div class="card-content white-text center">
            <span class="card-title">
              <!--Title-->
              Colorado
            </span>
            <!--Date-->
            <p>1993-2011</p>
          </div>
        </div>
      </a>
    </div>
  </div>
  
</section>