<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12">
        <div class="icon-block">
          
          <!--Header portfolio-->
          <div class="center">
            <h2 class="orange-text">Unity Game Projects</h2>
            <p class="grey-text">I created the following projects by consulting countless online references, online bootcamps, and books.</p>
          </div>
          
          <!-- Example Project -->
          <% @games.each do |game| %>
            <div class="row">
              <div class="col s12 center">
                <hr/>
                <br/>
                <div class="col s12 l12 flow-text">
                  <!--Title-->
                  <h3 class="project-header orange-text text-darken-3"><%= game.title %></h3>
                  <p>Published <%= game.month %></p>
                  <p class="project-description"><%= game.description %></p>
                </div>
                
                <!--Image-->
                <div class="col s12">
                  <%= link_to image_tag(game.image, class: "responsive-img"), game.live_link, target: "_blank" %>
                </div>
                
              </div>
            </div>
          <% end %>
          <!--End Example Project-->
          
        </div>
      </div>
    </div>
  </div>
</div>