ol {
  list-style-type: circle;
  padding: 0em 0em 0em 1em;
  margin: 0em;
}

ol li {
  text-align: left;
}

.project-description {
  font-size: 0.7em;
}

.project-header {
  font-size: 2em;
}

.published {
  margin: 0.5em 0em 0.5em 0em;
}

.row {
  margin-bottom: 0em;
}