.fa-bars {
  padding-left: 15px;
}

.fa-facebook, .fa-linkedin, .fa-bars {
  color: white;
}

.copyright {
  padding-left: 60px;
}

.kelsonic {
  font-family: 'Aldrich', sans-serif;
  font-weight: 300;
  letter-spacing: -2px;
}

.fa-laptop {
  color: black;
}