<footer class="page-footer grey darken-1">
  <div class="container">
    <div class="row center">
      <div class="col l4 s12">
        <h5 class="waves-effect waves-light btn-large light-blue lighten-2" id="footer-button">
          <%= link_to "Dev Bootcamp Projects", devbootcamp_path %>
        </h5>
      </div>
      <div class="col l4 s12">
        <h5 class="waves-effect waves-light btn-large red lighten-2" id="footer-button">
          <%= link_to "Ruby on Rails Projects", rails_path %>
        </h5>
      </div>
      <div class="col l4 s12">
        <h5 class="waves-effect waves-light btn-large light-blue lighten-2" id="footer-button">
          <%= link_to "Video Game Projects", videogames_path %>
        </h5>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container center">
      Copyright &copy; 2016 Made by Kelson Adams
    </div>
  </div>
</footer>